html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  font-family: 'Space Mono', monospace;
  color: #4a4a4a;
  background-color: #94b49f;
  line-height: 1.5;
  font-size: 0.875rem;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
}
.app-title {
  order: 2;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.help-button {
  align-self: flex-end;
  width: 40px;
  height: 40px;
  margin: 20px;
  text-align: center;
  box-shadow: 10px 10px #646464;
  background-color: #377d71;
  font-size: xx-large;
  cursor: pointer;
  transition: box-shadow 0.2s ease-out;
}
.help-button i {
  font-size: 2.5em;
}
.help-button:hover {
  box-shadow: 7px 7px #646464;
}
.help-button.active {
  box-shadow: none;
}
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.markdown {
  padding: 4rem;
  display: grid;
  min-height: 70vh;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
.input {
  border-color: transparent;

  font-size: 1.2rem;
  line-height: 2;
  box-shadow: #cee5d0;
  min-height: 30vh;
  background-color: #dfe8cc;
}
.input,
.result {
  border-radius: 1rem;
  padding: 1rem 2rem;
}
/* For Preview */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

footer {
  text-align: center;
  font-size: 0.8em;
  line-height: 30px;
  margin-top: 20px;
}
footer a {
  text-decoration: none;
  color: #4a4a4a;
}
